{% extends "base.html" %}
{%block title %} Credit | Debt History{% endblock title %}

{% block content %}
<h3 class="text-success font-weight-bold">DEBT HISTORY FOR {{debt.credit_agency}}</h3>
<div class="mx-0 text-secondary font-weight-bold">
	<ul>
		<li>DEBT DATE <span class="badge badge-pill badge-primary">{{debt.credit_date}}</span></li>
		<li>DEBT SERVICE DATE <span class="badge badge-pill badge-secondary">{{debt.credit_service_date}}</span></li>
		<li>AMOUNT BORROWED <span class="badge badge-pill badge-danger"> {{debt.amount}}</span></li>
		<li>AMOUNT PAID <span class="badge badge-pill badge-success">{{debt.amount_paid}}</span></li>
		<li>AMOUNT REMAINING <span class="badge badge-pill badge-danger">{{debt.amount_remaining}}</span></li>
		<li>PAYMENT STATUS <span class="badge badge-pill badge-primary">{{debt.paying_status}}</span></li>
		<li>DEBT STATUS <span class="badge badge-pill badge-secondary">{{debt.service_status}}</span></li>
	</ul>
</div>
<hr/>
<div>
<p>Debt Service History</p>
<table class="table table-responsive">
<tr class="table-head">
	<th>No</th>
	<th>Service Date</th>
	<th>Amount</th>
	<th>Comment</th>
</tr>

{% for dat in data %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{dat.service_date}}</td>
<td>{{dat.amount}}</td>
<td>{{dat.comment}}</td>
<td><a href="{% url 'update_debt_service' dat.id %}" class="badge badge-pill badge-primary">update</a></td>
<td><a href="{%url 'delete_debt_service' dat.id %}"  class="badge badge-pill badge-danger">delete</a></td>
</tr>
{% endfor %}
</table>
</div>

{% endblock content %}