{% extends "base.html" %}
{% block title %} Accounts | Reset Password {% endblock title %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <h3>Password reset</h3>
  <fieldset class="module aligned">
    <div class="form-row field-email">
        <label for="id_email">Email address:</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
    </div>
    <input type="submit" value="Reset my password" class="btn btn-primary mt-3">
  </fieldset>
</form>

{% endblock content %}