{% extends "base.html" %}
{%block title %} Chart | Chart Delete Form{% endblock title %}
{% block content %}
 <h3 class="text-success font-weight-bold">INDIVIDUAL TRANSACTION DELETE FORM</h3>
<p class="text-danger"> Are you sure you want to delete the form!!!</p>
<div>
<form action="" method="post">
    {% csrf_token %}
	<div class="mb-3">
		<ul class="list-group">
            <li class="list-group-item">Date of Transaction: <span>{{obj.transact_date}}</span></li>
            <li class="list-group-item">Chart: <span>{{obj.chart_id.chart_name}}</span></li>
            <li class="list-group-item">Amount: <span>{{obj.allocated_amount}}</span></li>
          </ul>
    </div>


    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-danger" name="submit" value="delete"> Delete </button>
            <button type="submit" class="btn btn-success" name="submit" value="donotdelete"> Cancel </button>
        </div>

    </div>


</form>

</div>



{% endblock %}