{% extends "base.html" %}
{%block title %} Planner | Task Item View {% endblock title %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

{% endblock head %}
{% block content %}
<div class="card">
      <div class="card-header bg-info text-white">
        <h5 class="card-title mb-0">Task Item Information</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h6>Task Item Date:</h6>
            <p>{{task_item.task_item_date}}</p>
            <h6>Task Name:</h6>
            <p>{{task_item.task.task_name}}</p>
            <h6>Task Description:</h6>
            <p>{{task_item.task.task_description}}</p>
          </div>
          <div class="col-md-6">
            <h6>Task Number:</h6>
            <p>{{task_item.task_item_number}}</p>
            <h6>Status:</h6>
            <p>{{task_item.status}}</p>
          </div>
        </div>
          <hr/>
          <h6 class="text-secondary font-weight-bold">Task Item Description</h6>
          <p>{{task_item.task_item_description}}</p>

          <hr/>
        <a type="submit" href="{%url 'pending_tasks'%}" class="btn btn-secondary">view list</a>

      </div>
      <table class="table table-sm">
      <thead class="table-head">
        <th>Task Item Date</th>
        <th>Task Number</th>
        <th>Task Description</th>
        <th>Task Status</th>
      </thead>
      <tbody>
       {% for item in task_list %}
       <tr>
         <td>{{item.task_item_date}}</td>
         <td>{{item.task_item_number}} of {{item.task.times}}</td>
         <td>{{item.task_item_description}}</td>
         <td
         {% if item.status == 'not done' %}
                      class="badge badge-danger"
         {% elif daily_item.status == 'pending' %}
                     class="badge badge-warning"
         {%else %}
             class="badge badge-success"
         {% endif %}
         >{{item.status}}</td>
       </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock content %}