{% extends "base.html" %}
{%block title %} Shopper | Bought Delete Form{% endblock title %}
{% block content %}
<h3 class="text-success font-weight-bold">BOUGHT DELETE FORM</h3>
<p class="text-danger"> Are you sure you want to delete the form!!!</p>
<div>
<form action="" method="post">
    {% csrf_token %}
	<div class="mb-3">
		<ul class="list-group">
            <li class="list-group-item">Buying Date: <span class="badge badge-primary">{{obj.date_bought}}</span></li>
            <li class="list-group-item">Quantity: <span class="badge badge-primary">{{obj.quantity_bought}}</span></li>
            <li class="list-group-item">Amount Paid: <span class="badge badge-primary">{{obj.amount_paid}}</span></li>
            <li class="list-group-item">Comment: <span class="badge badge-primary">{{obj.comment}}</span></li>
          </ul>
    </div>


    <div class="row">
        <div class="col">
            <button type="submit" name="submit" value="delete" class="btn btn-danger" > Delete </button>
            <button type="submit" name="submit" value="do_not_delete" class="btn btn-success" > Cancel </button>
        </div>

    </div>


</form>

</div>



{% endblock %}