{%extends "base.html" %}
{% block title %} Category | Delete Category {%endblock title %}
{% block content %}
<form action="{%url 'delete_budget' obj.id %}" method="post">
  {% csrf_token %}
    <label>Category name : <span class="badge badge-primary">{{obj.name}}</span></label><br/>
    <label>Priority <span class="badge badge-primary">{{obj.priority}}</span></label><br/>
    <input type="submit" value="do not delete" name="delete" class="btn btn-primary">
  <input type="submit" value="delete" name="delete" class="btn btn-danger"/>
</form>

{% endblock content %}