{% extends "base.html" %}
{%block title %} Savings | Weekly Budget Savings{% endblock title %}

{% block content %}


<h1 class="text-center text-primary">Spent Week Budget</h1>
<div>
      <form action="#" method="post">
        {% csrf_token %}
                <div class="form-group">
                    <label for="week">Select: Budget Week</label>
                    <select class="form-control" id="week" name="week_select">
                      {% for week in filter_list %}
                        <option value="{{week.budget_id_id}}:{{week.week_start}}:{{week.week_end}}">{{week.budget_id_id}}-{{week.week_start}}<--->{{week.week_end}}</option>
                      {% endfor %}

                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

    <table class="table table-sm">
      <thead class="table-head">
        <tr>
            <th></th>
          <th>Budget</th>
          <th>Category</th>
          <th>Week Start</th>
          <th>Week End</th>
          <th>Budget Amount</th>
          <th>Spent Start</th>
          <th>Week Budget</th>
          <th>Week Spent</th>
          <th>Def/Sup</th>
          <th>Amt BF</th>
          <th>Amt Saved</th>
          <th>Budget Saved</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
      {% for obj in weekly_savings %}
        <tr>
          <td>{{obj.id}}</td>
          <td>{{obj.budget_name}}</td>
          <td>{{obj.budget_category}}</td>
          <td>{{obj.week_start}}</td>
          <td>{{obj.week_end}}</td>
          <td>{{obj.budget_amount}}</td>
          <td>{{obj.budget_spent_start}}</td>
          <td>{{obj.week_budget}}</td>
          <td>{{obj.week_spent}}</td>
          <td>{{obj.week_remaining}}</td>
          <td>{{obj.amount_bf}}</td>
          <td>{{obj.amount_saved}}</td>
          <td>{{obj.budget_saved}}</td>
          {% if obj.locked %}
          <td>
              <span class="badge badge-danger">Locked</span>
          </td>
          {% else %}
            <td><span class="badge badge-pill badge-success btnAction" data-toggle="modal" data-target="#weekBudgetModal">Action</span></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="weekBudgetModal" tabindex="-1" role="dialog" aria-labelledby="weekBudgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="weekBudgetModalLabel">Transfer Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="weekBudgetForm" action="{%url 'update_week_surplus' %}" method="post">
              {% csrf_token %}
              <input type="hidden" id= "week_cat_id" name="week_cat"/>
            <div class="form-group">
              <label for="weekStart">Week Start :</label>
            </div>
            <div class="form-group">
              <label for="weekEnd">Week End: </label>
            </div>
            <div class="form-group">
              <label for="category">Category :</label>
            </div>
            <div class="form-group">
              <label for="weekRemaining">Week Remaining:</label>
              <input type="hidden" id="week_remaining_id" />
            </div>
            <div class="form-group">
              <label for="previousSaved">Previous Saved:</label>
              <input type="hidden" id="previous_saved_id" />
            </div>
            <div class="form-group">
              <label for="budget_saved">Total Budget Saved:</label>
              <input type="hidden" id="budget_saved" />
            </div>

            <div class="form-group">
              <label for="amountSaved">Amount Saved</label>
              <input type="number" class="form-control" id="amountSaved" name="amountSaved" onChange="calculateAmountBF()">
            </div>
            <div class="form-group">
              <label for="amountBf">Amount Brought Forward</label>
              <input type="number" class="form-control" id="amountBf" name="amountBf" readonly>

            </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Post</button>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const actionButtons = document.querySelectorAll(".btnAction"); //get all buttons
    actionButtons.forEach((button) => {
      button.addEventListener("click", function () {
        // Get the parent row of the clicked button
        const row = this.closest("tr");

        // Extract values from the row
        const id = row.children[0].textContent.trim();
        const category = row.children[2].textContent.trim();
        const weekStart = row.children[3].textContent.trim();
        const weekEnd = row.children[4].textContent.trim();
        const weekRemaining = row.children[9].textContent.trim();
        const previousSaved = row.children[11].textContent.trim() || "0"; // Default to 0 if None
        const amountSaved = row.children[11].textContent.trim() || "0"; // Default to 0 if None
        const budgetSaved = row.children[12].textContent.trim() || "0"; // Default to 0 if None
        const previousSavedFinal = (previousSaved === "None" || previousSaved === "" || isNaN(previousSaved)) ? "0" : amountSaved;
        const TotalSavedFinal = (budgetSaved === "None" || budgetSaved === "" || isNaN(budgetSaved)) ? "0" : budgetSaved;

        // Populate modal fields
        document.getElementById("week_cat_id").value = id;
        document.getElementById("week_remaining_id").value = weekRemaining-previousSavedFinal;
        document.getElementById("previous_saved_id").value = previousSaved;
        document.getElementById("budget_saved").value = TotalSavedFinal;
        document.querySelector("#weekBudgetModal label[for='previousSaved']").textContent = `Previous Saved: ${previousSaved}`;
        document.querySelector("#weekBudgetModal label[for='category']").textContent = `Category: ${category}`;
        document.querySelector("#weekBudgetModal label[for='weekStart']").textContent = `Week Start: ${weekStart}`;
        document.querySelector("#weekBudgetModal label[for='weekEnd']").textContent = `Week End: ${weekEnd}`;
        document.querySelector("#weekBudgetModal label[for='weekRemaining']").textContent = `Week Remaining: ${weekRemaining-previousSavedFinal}`;
        document.querySelector("#weekBudgetModal input#amountSaved").value = amountSaved;
      });
    });
  });


    function calculateAmountBF() {
      const weekRemaining = parseFloat(document.getElementById('week_remaining_id').value) || 0;
      const amountSaved = parseFloat(document.getElementById('amountSaved').value) || 0;
      const previousSavedAmount =parseFloat(document.getElementById('previous_saved_id').value) || 0;
      const amountBf = weekRemaining - amountSaved;

      if(amountSaved < 0){
      document.getElementById('amountBf').value = 0;
      document.getElementById('amountSaved').value = 0;
      }else{
          document.getElementById('amountBf').value = amountBf < 0 ? 0: amountBf;
        document.getElementById('amountSaved').value = amountBf < 0 ? 0 : amountSaved;
      }
    }
  </script>

{% endblock content %}